@import "tailwindcss";
/* Use a @themediretiva para definir os tokens de design personalizados do seu projeto, como fontes, cores e pontos de interrupção: */
@theme {
	--primaryColor: #1a47b8;
	--primaryLight: rgba(38, 42, 121, 0.712);
}
/* Use a @source diretiva para especificar explicitamente os arquivos de origem que não são detectados pela detecção automática de conteúdo do Tailwind: */
/* Use a @utility diretiva para adicionar utilitários personalizados ao seu projeto que funcionem com variantes como hover, focuse lg: */
@utility bg-primaryColor {
	background-color: var(--primaryColor);
}
@utility bg-primaryLight {
	background-color: var(--primaryLight);
}
/* Use a @variant diretiva para aplicar uma variante do Tailwind aos estilos no seu CSS: */
/* Use a @custom-variant diretiva para adicionar uma variante personalizada ao seu projeto: */
/* Use a @apply diretiva para incorporar quaisquer classes de utilitários existentes em seu próprio CSS personalizado: */
